@model IEnumerable<E_Mart.Models.Has>

<h2 style="text-align: center; margin-top: 10px; margin-bottom: 15px; animation: scale 1.5s forwards;">Your Products</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductCategory)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductIMG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.ProductPrice)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductDescription)
            </td>
            <td>
                <img src="@Url.Content(item.Product.ProductIMG)" width="300" height="250" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductPrice)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.HasID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.HasID })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Back", "../Sellers/RealDashBoard")
