@model IEnumerable<E_Mart.Models.Buyer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BuyerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerEmail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerPassword)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerAdress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerDOB)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BuyerGender)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerEmail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerPassword)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerAdress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerDOB)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BuyerGender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BuyerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BuyerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BuyerID })
        </td>
    </tr>
}

</table>
